
<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Sitemi Ziyaret Ettiğiniz İçin Teşekkür Ederim</h2>
                    <p></p>
                    <p><a href="#" class="btn btn-primary">Daha Fazlası İçin</a></p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Linkler</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Anasayfa</a></li>
                        <li><a href="#about-section"><span class="fa fa-chevron-right mr-2"></span>Hakkımda </a></li>
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Servislerim</a></li>
                        <li><a href="#projects-section"><span class="fa fa-chevron-right mr-2"></span>Projelerim</a></li>
                        <li><a href="#contact-section"><span class="fa fa-chevron-right mr-2"></span>İletişim</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Servislerim</h2>
                    <ul class="list-unstyled">
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Web Sitesi Tasarlama</a></li>
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Veri Tabanı Tasarımı ve Yönetimi</a></li>
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Hata Çözümü</a></li>
                        <li><a href="#services-section"><span class="fa fa-chevron-right mr-2"></span>Destek Servisleri</a></li>
                       

                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Bana sormak istediğiniz bir şey mi var?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">İstanbul,Türkiye</span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">0506*******</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">beyzack08@gmail.com</span></a></li>
                        </ul>
                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="https://tr.linkedin.com/in/beyza-co%C5%9Fkun-6a47902a6?trk=people-guest_people_search-card"><span class="fa fa-linkedin"></span></a></li>
                      
                        <li class="ftco-animate"><a href="https://github.com/BeyzaCk"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>

